.selected {
    font-weight: bold;
}

.chunk {
    margin: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    transition-duration: 0.4s;
}

.chunk:hover {
    outline: 2px solid black;
}

.selection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30px;
    margin: 10px;
    user-select: none;
}

.selection:hover {
    cursor: pointer;
}

.title  {
    font-size: 20px;
}