.set {
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 40px;

    justify-content: space-evenly;
    border: 1px solid black;
    line-height: 40px;

    transition-duration: 0.4s;
    user-select: none;
}
.set:hover {
    border: 1px solid white;
    background: black;
    color: white;
    cursor: pointer;
}